.header{

  display: flex;

  img {
    width: 100px;
    height: 100px;
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    color: darkorange;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    margin: 10px;
  }  

  p {
    color: darkorange;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
  }
}