.header {
  display: flex;
}

.header img {
  width: 100px;
  height:100px;
}

.header h1{
  color: darkorange;
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  font-weight: bolder;
  margin: 10px;
}

.header p{
  color: darkorange;
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
}
