.poll-results {
  // margin: 0 20px 0 20px;
  align-self: center;
  width: 75%;
}

.winning-result-info {
  align-self: center;
  width: 35%;
  background-color: #fbe8a6;

  h2 {
    font-size: 18px;
    text-align: center;
  }

  h3 {
    font-size: 16px;
    text-align: left;
  }

  h4 {
    font-size: 14px;
    text-align: center;
  }
}
