.poll-results {
  align-self: center;
  width: 75%;
}

.winning-result-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 55%;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 10px;

  .leading-choice-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  h2 {
    color: darkorange;
    font-size: 20px;
    text-align: center;
  }
  
  h3 {
    font-size: 16px;
    text-align: left;
    padding-left: 55px;
  }
  
  h4 {
    font-size: 14px;
    text-align: center;
  }

  #business-hours {
    width: 33%;
    font-size: 14px;
  }
  
  #contact-information {
    width: 33%;
  }
  
  #directions {
    width: 33%;
  }
}
