.toggle-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.q3-question {
  color: darkorange;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.q3-question-subtext {
  color: darkorange;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.centering {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}