.question-one-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-number-display {
  color: gray;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
  text-align: center;
}

.summary {
  color: darkorange;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  margin: 90px 0px 30px 0px;
  text-align: center;
  width: 80%;
}