.all-components-less-button {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-bar {
  align-self: center;
}

.table-and-checklist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}