body {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
}

.column {
  float: left;
  width: 32%;
  margin: 0 10px 0 5px;
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}