body {
  font-family: "Quicksand", sans-serif;
  margin: 0px;
}

.column {
  float: left;
  width: 32%;
  margin: 0 10px 0 5px;
}

.restaurant-image {
  border-radius: 10px;
  height: 300px;
  margin-top: 20px;
  width: 100%;
}

h4 {
  align-items: center;
  display: flex;
  justify-content: center;
}

h3 {
  text-align: left;
}

a {
  color: black;
}

ul {
  padding-left: 15%;
  text-align: left;
}

.open-sign {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .column {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
}